body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
}

.root {
  margin: 5rem;
  display: grid;
  grid-template-columns: repeat(50, 15px);
  grid-template-rows: repeat(50, 15px);
  column-gap: 1px;
  row-gap: 1px;
  background-color: rgb(180, 180, 180);
  border: 1px solid rgb(187, 187, 187);
}
.black {
  height: 15px;
  width: 15px;

  // border: 1px solid rgb(187, 187, 187);
  background-color: black;
}
.white {
  height: 15px;
  width: 15px;
  background-color: whitesmoke;
  // border: 1px solid rgb(187, 187, 187);
  // margin: -1px;
}
